/* src/app/catalog/page.module.css */

.container {
  padding: 50px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 274px); /* Четыре колонки по 274px каждая */
  gap: 50px 29px; /* Расстояние между строками и колонками */
  margin-top: 50px;
}

/* Стили кнопки Load more */
.loadMoreBtn {
  display: block;
  margin: 50px auto 0; /* Центрирует кнопку и добавляет отступ сверху */
  background: transparent;
  border: none;
  color: #3470FF;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline; /* Подчеркнутый текст */
  cursor: pointer;
  transition: color 0.2s; /* Плавный переход цвета текста при ховере */
}

/* Стили кнопки при наведении */
.loadMoreBtn:hover {
  color: #0B44CD;
}