.page {
  padding-top: 50px;
  padding-bottom: 100px;
}

.filtersSection {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 274px);
  column-gap: 29px;
  row-gap: 50px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto 100px;
}

.loadMore {
  display: block;
  margin: 50px auto 100px; 
  background-color: transparent;
  border: 1px solid #3470FF; 
  border-radius: 12px; 
  padding: 14px 44px; 
  color: #121417; 
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out; 
  text-decoration: none; 
}


.loadMore:hover {
  border-color: #0B44CD; 
}

.loading, .empty {
  text-align: center;
  font-size: 18px;
  margin: 40px 0;
  color: #121417;
}


@media (max-width: 1240px) {
  .list {
    grid-template-columns: repeat(3, 274px);
  }
}


@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(1, 274px);
  }
}