
.card {
  width: 274px;
  height: 100%; 
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  height: 268px;
}

.image {
  object-fit: cover;
}

.favoriteBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.favoriteBtn svg path {
  stroke: white;
  transition: fill 0.2s, stroke 0.2s; 
}


.favoriteBtn:hover svg path {
  stroke: #3470FF;
}


.favoriteBtn.active svg path {
  fill: #3470FF;
  stroke: #3470FF;
}

.info {
  padding: 14px 0;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
}


.title {
  margin: 0;
  color: #121417;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px; 
}

.price {
  margin: 0;
  color: #121417;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  margin-bottom: 28px;
}


.details span {
  display: inline-flex;
  align-items: center;
}

.details span:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.1);
  margin-left: 6px;
}


.readMoreBtn {
  background-color: #3470FF;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: auto; 
  width: 100%;
}


.readMoreBtn:hover {
  background-color: #0B44CD;
}